<app-navbar></app-navbar>

<main class="">
    <ng-container *ngIf="is_loading;else view">
        <div class="vh-100 w-100 d-flex justify-content-center align-items-center">
            <app-loader />
        </div>
    </ng-container>

    <ng-template #view>
        <section class="cover_img d-none d-lg-block" [ngStyle]="{backgroundImage: 'url(' + getCoverImage() + ')'}">
            <div class="cover_img_overlay"></div>
        </section>
        <div class="container monty pt-3 ">
            <div class="row">
                <!-- Anime image and controls -->
                <div class="col-12 col-sm-6 col-xl-3 order-0">
                    <div class="sticky_side_block p-2 p-sm-0">
                        <div class="anime_poster position-relative">
                            <div *ngIf="anime.attributes.startDate && anime.attributes.startDate !== ''" class="ribbon fw-bold oswald">
                                {{ anime.attributes.startDate | date: 'y' }}
                            </div>
                            <img class="img-fluid" [src]="anime.attributes.posterImage.large" [alt]="anime.attributes.titles.en_jp">
                        </div>
                        <!-- Controls -->
                        <div class="d-flex flex-column gap-2" *ngIf="is_logged_in && type === 'anime'">
                            <a
                                *ngIf="type === 'anime'"
                                [href]="'https://aniwatch.to/search?keyword=' + anime.attributes.slug"
                                target="_blank"
                                class="btn btn-dark rounded-pill d-block fw-bold"
                            >
                                Find on<img src="/assets/images/aniwatch.png" class="ms-2" style="max-width: 60px;" alt="AniWatch logo" />
                            </a>
                            <button
                                type="button"
                                (click)="onAddToComplete()"
                                [disabled]="completed_loading"
                                class="btn btn-outline-primary btn-sm rounded-pill text-center"
                            >
                                <span *ngIf="!completed_loading" class="fw-bold d-flex justify-content-between align-items-center">
                                    Completed
                                    <i class="fa-regular fa-square-check"></i>
                                </span>
                                <div *ngIf="completed_loading" class="spinner-border text-info btn-loader" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                            <button
                                type="button"
                                (click)="onAddToWantToWatch()"
                                [disabled]="want_to_watch_loading"
                                class="btn btn-outline-primary btn-sm rounded-pill text-center"
                            >
                                <span *ngIf="!want_to_watch_loading" class="fw-bold d-flex justify-content-between align-items-center">
                                    Want to watch
                                    <i class="fa-regular fa-clipboard"></i>
                                </span>
                                <div *ngIf="want_to_watch_loading" class="spinner-border text-info btn-loader" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                            <button
                                type="button"
                                (click)="onStartedWatching()"
                                [disabled]="started_watching_loading"
                                class="btn btn-outline-primary btn-sm rounded-pill text-center"
                            >
                                <span *ngIf="!started_watching_loading" class="fw-bold d-flex justify-content-between align-items-center">
                                    Started watching
                                    <i class="fa-regular fa-eye"></i>
                                </span>
                                <div *ngIf="started_watching_loading" class="spinner-border text-info btn-loader" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                            <button
                                type="button"
                                (click)="onHold()"
                                [disabled]="on_hold_loading"
                                class="btn btn-outline-primary btn-sm rounded-pill text-center"
                            >
                                <span *ngIf="!on_hold_loading" class="fw-bold d-flex justify-content-between align-items-center">
                                    On Hold
                                    <i class="fa-regular fa-circle-pause"></i>
                                </span>
                                <div *ngIf="on_hold_loading" class="spinner-border text-info btn-loader" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                            <button
                                type="button"
                                (click)="onMustWatch()"
                                [disabled]="must_watch_loading"
                                class="btn btn-outline-primary btn-sm rounded-pill text-center"
                            >
                                <span *ngIf="!must_watch_loading" class="fw-bold d-flex justify-content-between align-items-center">
                                    Must Watch
                                    <i class="fa-solid fa-fire"></i>
                                </span>
                                <div *ngIf="must_watch_loading" class="spinner-border text-info btn-loader" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Anime details -->
                <div class="col-12 col-xl-6 pt-3 pt-xl-0 order-2 order-xl-1">
                    <app-tab-menu [type]="type" />
                </div>

                <!-- Extra info and youtube link -->
                <div class="col-12 col-sm-6 col-xl-3 order-1 order-xl-2 pt-3 pt-sm-0">
                    <div class="sticky_side_block">
                        <iframe
                            *ngIf="url"
                            width="100%"
                            height="150"
                            [src]="url"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            style="border-radius: 0.5rem; box-shadow: var(--box-shadow); margin-bottom: 0.75rem;"
                            allowfullscreen
                        ></iframe>
                        <app-card>
                            <h4 class="oswald fw-bold mb-3">Anime Details</h4>
                            <ul class="anime_details">
                                <li *ngFor="let detail of anime_details">
                                    <strong class="anime_details_title monty">{{ detail.title }}:</strong>
                                    <span class="anime_details_value">{{ detail.value }}</span>
                                </li>
                            </ul>
                        </app-card>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</main>

<app-footer></app-footer>
