<app-navbar></app-navbar>

<main class="">
    <ng-container *ngIf="is_loading;else view">
        <div class="vh-100 w-100 d-flex justify-content-center align-items-center">
            <app-loader />
        </div>
    </ng-container>

    <ng-template #view>
        <section class="cover_img" [ngStyle]="{backgroundImage: 'url(' + getCoverImage() + ')'}">
            <div class="cover_img_overlay"></div>
        </section>
        <div class="container monty">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="sticky_side_block">
                        <div class="anime_poster position-relative">
                            <div class="ribbon fw-bold oswald">{{ anime.attributes.startDate | date: 'y' }}</div>
                            <img class="img-fluid" [src]="anime.attributes.posterImage.large" [alt]="anime.attributes.titles.en_jp">
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <button type="button" (click)="onClick()" class="btn btn-primary text-white rounded-pill">Completed</button>
                            <button type="button" (click)="onClick()" class="btn btn-secondary text-white rounded-pill">Want to watch</button>
                            <button type="button" (click)="onClick()" class="btn btn-info text-white rounded-pill">Started watching</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <app-tab-menu />
                </div>
                <div class="col-12 col-lg-3">
                    <div class="sticky_side_block">
                        <iframe
                            *ngIf="url"
                            width="100%"
                            height="150"
                            [src]="url"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            style="border-radius: 0.5rem; box-shadow: var(--box-shadow);"
                            allowfullscreen
                        ></iframe>
                        <app-card>
                            <h4 class="oswald fw-bold mb-3">Anime Details</h4>
                            <ul class="anime_details">
                                <li *ngFor="let detail of anime_details">
                                    <strong class="anime_details_title monty">{{ detail.title }}:</strong>
                                    <span class="anime_details_value">{{ detail.value }}</span>
                                </li>
                            </ul>
                        </app-card>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</main>
