<h1 class="oswald text_gradient mt-3 mt-lg-0">Want To Watch</h1>
<p class="monty">Below you can find a list of all animes you want to watch</p>
<div class="row">
    <ng-container *ngIf="is_loading">
        <app-loader></app-loader>
    </ng-container>
    <ng-container *ngIf="!is_loading && animes.length > 0">
        <div *ngFor="let anime of animes" class="col-6 col-md-4 col-lg-3 mb-3 position-relative">
            <app-anime-card [anime]="anime" type="anime" />
            <button type="button" (click)="onRemoveAnime(anime.id)" class="btn btn-danger btn-sm delete_btn">
                <i class="fa-solid fa-trash-can me-1"></i>
                Remove From List
            </button>
        </div>
    </ng-container>
</div>
