<ng-container *ngIf="!anime;else view">
    <app-loader />
</ng-container>

<ng-template #view>
    <!-- Crappy fix. Fix later -->
    <div class="h-100">
        <h4 class="oswald fw-bold">
            {{ anime.attributes.titles.en ? anime.attributes.titles.en : anime.attributes.titles.en_jp }}
        </h4>
        <!-- Make this color changed based on the rating. Green good red bad -->
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <p class="text-primary fw-bold m-0" *ngIf="anime.attributes.averageRating">{{ anime.attributes.averageRating }}% Community Approval</p>
            <div class="ratings">
                <div *ngIf="anime.attributes.ratingRank">
                    <i class="fa-solid fa-star me-2" style="color: #f39c12;"></i>
                    <span class="fw-bold me-2">Rating:</span> # {{ anime.attributes.ratingRank }}
                </div>
                <div *ngIf="anime.attributes.popularityRank">
                    <i class="fa-solid fa-heart me-2" style="color: #e74c3c;"></i>
                    <span class="fw-bold me-2">Popularity:</span> # {{ anime.attributes.popularityRank }}
                </div>
            </div>
        </div>
        <hr />
        <h5 class="oswald fw-bold text-uppercase">Description</h5>
        <p class="monty m-0">{{ anime.attributes.description }}</p>

        <div class="py-4"></div>

        <app-related-categories />

        <div class="py-4"></div>

        <app-characters />

        <div class="py-4"></div>

        <app-reactions />

        <div class="py-5"></div>
    </div>
</ng-template>
