<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="0">
        <button ngbNavLink>Summary</button>
        <ng-template ngbNavContent>
            <app-summary-tab (view_characters)="nav.select(2)" />
        </ng-template>
    </li>
    <li [ngbNavItem]="1">
        <button ngbNavLink>{{ episode_tab_title }}</button>
        <ng-template ngbNavContent>
            <app-episode-tab />
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <button ngbNavLink>Characters</button>
        <ng-template ngbNavContent>
            <app-character-tab />
        </ng-template>
    </li>
    <li [ngbNavItem]="3">
        <button ngbNavLink>Franchise</button>
        <ng-template ngbNavContent>
            <app-franchise-tab />
        </ng-template>
    </li>
</ul>
<p class="animate_scroll">
    <i class="fa-solid fa-arrow-left"></i>
    Swipe
    <i class="fa-solid fa-arrow-right"></i>
</p>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
