



<h5 class="fw-bold oswald text-uppercase">Episodes</h5>
<div class="row">
    <ng-container *ngIf="is_loading">
        <div *ngFor="let placeholder of placeholders" class="placeholder-glow episode_card_placeholder col-6 col-lg-4 mb-4">
            <div class="ratio ratio-4x3">
                <div class="placeholder h-100 w-100 rounded"></div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!is_loading && episodes.length > 0;">
        <ng-container *ngIf="type && type === 'episodes';else chapters">
            <div class="col-6 col-lg-4 mb-4" *ngFor="let episode of episodes">
                <a role="button" (click)="onSelectEpisode(episode)" class="episode_card">
                    <div class="episode_card_img ratio ratio-4x3" *ngIf="episode.attributes.thumbnail">
                        <img
                            [src]="episode.attributes.thumbnail.original"
                            class="img-fluid"
                            [alt]="episode.attributes.titles.en_us"
                        />
                    </div>
                    <div class="episode_card_content">
                        <h6 class="fw-bold oswald mt-2">Episode {{ episode.attributes.number }}</h6>
                        <p class="m-0">{{ episode.attributes.titles.en_us ? episode.attributes.titles.en_us : episode.attributes.titles.en_jp }}</p>
                    </div>
                </a>
            </div>
        </ng-container>

        <ng-template #chapters>
            <div class="col-6 col-lg-4 mb-4" *ngFor="let episode of episodes">
                <div class="episode_card">
                    <div class="episode_card_content">
                        <h6 class="fw-bold oswald mt-2">Chapter {{ episode.attributes.number }}</h6>
                        <p class="m-0">{{ episode.attributes.titles.en_us ? episode.attributes.titles.en_us : episode.attributes.titles.en_jp }}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>

    <ng-container *ngIf="!is_loading && episodes.length === 0;">
        <p>Oh no... It seems like there is no info here yet...</p>
    </ng-container>
</div>
<ng-container >
</ng-container>
