<nav class="navbar">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="/assets/images/logo.png" alt="Animeee Logo">
            <span>Animeee</span>
        </a>
        <div class="input-group w-auto">
            <input
                type="search"
                class="form-control"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search_btn"
            />
            <button
                class="btn btn-outline-primary"
                type="button"
                id="search_btn"
            >Button</button>
        </div>
    </div>
</nav>

