<app-navbar></app-navbar>
<main>
    <div id="not_found_wrapper" class="container">
        <div class="not_found">
            <div class="not_found_img">
                <img src="/assets/images/not-found.png" class="img-fluid" alt="Confused anime girl">
            </div>
            <div class="not_found_content">
                <h1 class="display-1 fw-bold oswalt text-primary">404</h1>
                <h2 class="fw-bold oswald">Huh? Seems like that resource is not <br>available or doesn't exist!</h2>
                <p class="monty">Don't worry though, I will show you the way back</p>
                <a routerLink="/" class="btn btn-primary text-white rounded-pill btn-lg">Home Page</a>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>
