<!-- <ng-container *ngIf="is_loading;else slider">

    <app-loader />
</ng-container> -->

<section class="slider_section">
    <h3 class="oswald fw-bold text_gradient slider_title">{{ title }}</h3>
    <swiper-container
        initial-slide="0"
        slides-per-view="2"
        autoplay="true"
        autoplay-delay="2000"
        autoplay-pause-on-mouse-enter="true"
        autoplay-disable-on-interaction="true"
        space-between="15"
        appSwiperConfig
    >
        <ng-container *ngIf="is_loading; else anime_slide">
            <swiper-slide *ngFor="let placeholder of placeholders">
                <div class="placeholder-glow anime_card_placeholder">
                    <div class="placeholder h-100 w-100 rounded"></div>
                </div>
            </swiper-slide>
        </ng-container>
        <ng-template #anime_slide>
            <swiper-slide *ngFor="let anime of animes">
                <!--
                    Not sure why I can't use a component inside here
                    When I do it doesn't work. Seems like it needs to
                    have the markup defined inside of the slide.
                    Will need to look into this to see if there is
                    a way around it
                 -->
                <div (click)="onLoadAnime(anime)" class="anime_card">
                    <img
                        [src]="anime.attributes.posterImage.medium"
                        [alt]="anime.attributes.titles.en ? anime.attributes.titles.en : anime.attributes.titles.en_jp"
                    />
                    <div class="anime_card_description">
                        <h6 class="fw-bold oswald">
                            {{ anime.attributes.titles.en ? anime.attributes.titles.en : anime.attributes.titles.en_jp }}
                        </h6>
                        <div class="d-flex justify-content-between">
                            <div *ngIf="anime.attributes.ratingRank">
                                <i class="fa-solid fa-star me-1"></i>
                                {{ anime.attributes.ratingRank }}
                            </div>
                            <div>
                                <i class="fa-solid fa-heart me-1"></i>
                                {{ anime.attributes.popularityRank }}
                            </div>
                        </div>
                        <p class="desc">{{ anime.attributes.description }}</p>
                        <button type="button" class="btn btn-primary btn-sm text-white rounded-pill w-100 mt-auto mb-2">View</button>
                    </div>
                    <h6 class="anime_card_title oswald">
                        {{ anime.attributes.titles.en ? anime.attributes.titles.en : anime.attributes.titles.en_jp }}
                    </h6>
                </div>
            </swiper-slide>
        </ng-template>
    </swiper-container>
    <div class="d-flex justify-content-end">
        <a routerLink="/search" [queryParams]="{'type': search_url}" class="view_more">
            View More
            <i class="fa-solid fa-arrow-right ms-2"></i>
        </a>
    </div>
</section>

