<ng-container *ngIf="is_loading;else slider">
    <app-loader />
</ng-container>

<ng-template #slider>
    <section class="slider_section">
        <h3 class="oswald fw-bold text_gradient slider_title">{{ title }}</h3>
        <swiper-container
            initial-slide="0"
            slides-per-view="5"
            autoplay="true"
            delay="2500"
        >
            <swiper-slide class="me-3" *ngFor="let anime of animes">
                <div (click)="onLoadAnime(anime)" class="anime_card">
                    <img [src]="anime.attributes.posterImage.medium" [alt]="anime.attributes.titles.en ? anime.attributes.titles.en : anime.attributes.titles.en_jp">
                </div>
            </swiper-slide>
        </swiper-container>
        <div class="d-flex justify-content-end">
            <a href="#" class="view_more">
                View More
                <i class="fa-solid fa-arrow-right ms-2"></i>
            </a>
        </div>
    </section>
</ng-template>
