<app-card>
    <div class="d-flex justify-content-center">
        <img class="logo_icon" src="/assets/images/logo.png" alt="Anime Logo" />
    </div>
    <h1 class="oswald fw-bold text-center text-uppercase text_gradient mb-3">Sign In</h1>

    <div class="monty">
        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email" #email />
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="passowrd" placeholder="Password" #password />
        </div>
        <button type="button" class="btn btn-primary text-white w-100 mb-2" (click)="onSignIn(email.value, password.value)">Sign In</button>
        <button type="button" class="btn btn-secondary text-white w-100 mb-2">Forgot Password</button>
        <button type="button" class="btn w-100 mb-3 google_btn" (click)="googleSignIn()">
            <img src='https://developers.google.com/identity/images/g-logo.png'>
            Sign In with Google
        </button>
    </div>
    <p class="register_text">
        Don't have an account?
        <br />
        <a routerLink="/auth/sign-up">Sign Up!</a>
    </p>
</app-card>
