<ng-container *ngIf="is_loading;else menu">
    <app-loader />
</ng-container>

<ng-template #menu>
    <ul class="category_list">
        <li class="category_list_item" *ngFor="let category of categories">
            <a class="category_list_link" [routerLink]="['/search']" [queryParams]="{'category': category.attributes.slug}">
                {{ category.attributes.title }}
            </a>
        </li>
        <ng-container *ngIf="show_type_links">
            <hr class="w-100" />
            <li class="category_list_item">
                <a class="category_list_link" [routerLink]="['/search']" [queryParams]="{'type': 'trending'}">
                    Trending
                </a>
            </li>
            <li class="category_list_item">
                <a class="category_list_link" [routerLink]="['/search']" [queryParams]="{'type': 'top-airing'}">
                    Top Airing
                </a>
            </li>
            <li class="category_list_item">
                <a class="category_list_link" [routerLink]="['/search']" [queryParams]="{'type': 'upcoming'}">
                    Upcoming
                </a>
            </li>
            <li class="category_list_item">
                <a class="category_list_link" [routerLink]="['/search']" [queryParams]="{'type': 'highest-rated'}">
                    Highest Rated
                </a>
            </li>
            <li class="category_list_item">
                <a class="category_list_link" [routerLink]="['/search']" [queryParams]="{'type': 'most-popular'}">
                    Most Popular
                </a>
            </li>
        </ng-container>
    </ul>
    <a routerLink="/search" class="btn btn-primary btn-sm text-white d-flex justify-content-between align-items-center mt-3 px-3 rounded-pill">
        Full Search
        <i class="fa-solid fa-magnifying-glass ms-3"></i>
    </a>
</ng-template>
