<nav class="navbar">
    <div class="container">
        <a routerLink="/" class="navbar-brand d-flex align-items-center me-0">
            <img src="/assets/images/logo.png" alt="Animeee Logo">
            <span class="oswald ms-2 text-primary d-none d-sm-inline-block">ANIMEEE</span>
        </a>
        <div class="controls d-flex align-items-center">
            <div class="input-group w-auto flex-nowrap navbar_search">
                <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="search_btn"
                    (keydown)="onSearch($event)"
                    [formControl]="search"
                />
                <button class="btn btn-primary btn-sm text-white" type="button" id="search_btn" (click)="onSearch()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div ngbDropdown class="ms-3">
                <a role="button" class="profile_icon" id="profile" ngbDropdownToggle>
                    <img src="/assets/images/profile.png" alt="Profile Icon">
                </a>
                <div ngbDropdownMenu aria-labelledby="profile">
                    <a routerLink="/auth/sign-in" ngbDropdownItem *ngIf="!isAuthenticated">Sign In</a>
                    <a routerLink="/profile/completed" ngbDropdownItem *ngIf="isAuthenticated">Profile</a>
                    <a role="button" (click)="onLogout()" ngbDropdownItem  *ngIf="isAuthenticated">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>
