<app-navbar></app-navbar>

<main>
    <div class="container py-5 monty">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h1 class="fw-bold oswald text-uppercase">
                    Search: {{ search_phrase ? search_phrase : '' }}
                </h1>
                <div class="search_wrapper mb-5">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Search Anime"
                            aria-label="Search bar"
                            [formControl]="search_input"
                            #searchInputEl
                        />
                        <button ngbDropdown class="btn btn-primary">
                            <a role="button" ngbDropdownToggle class="text-decoration-none text-white text-capitalize">
                                {{ search_type }}
                            </a>
                            <div ngbDropdownMenu aria-labelledby="profile">
                                <button (click)="onUpdateSearchType('anime')" ngbDropdownItem>Anime</button>
                                <button (click)="onUpdateSearchType('manga')" ngbDropdownItem>Manga</button>
                                <button (click)="onUpdateSearchType('user')" ngbDropdownItem>User</button>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="results_wrapper">
                    <ng-container *ngIf="is_loading">
                        <div class="d-flex justify-content-center">
                            <app-loader></app-loader>
                        </div>
                    </ng-container>
                    <!-- No Results -->
                    <ng-container *ngIf="!is_loading && animes.length === 0">
                        <div class="no_results d-flex align-items-center justify-content-center">
                            <img src="/assets/images/no-results.png" style="max-width: 250px; border-radius: 50%;" alt="No results">
                            <div class="text me-5">
                                <h3 class="fw-bold oswald text-primary">No Results...</h3>
                                <h5 class="fw-bold monty">
                                    Nothing to see here.
                                </h5>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Main Listing -->
                    <ng-container *ngIf="!is_loading && animes.length > 0">
                        <div class="row" >
                            <div class="col-6 col-md-4 col-lg-3 mb-3" *ngFor="let anime of animes">
                                <app-anime-card [anime]="anime" />
                            </div>
                        </div>
                    </ng-container>
                    <!-- More results button -->
                    <div *ngIf="more_results_url && !loading_more" class="text-center">
                        <button type="button" class="btn btn-primary text-white monty rounded-pill px-4" (click)="onLoadMore()">
                            Load More Results
                        </button>
                    </div>

                    <ng-container *ngIf="loading_more">
                        <div class="d-flex justify-content-center">
                            <app-loader></app-loader>
                        </div>
                    </ng-container>
                    <div class="mt-5"></div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <app-card [is_sticky]="true">
                    <h3 class="oswald fw-bold text-uppercase">Categories</h3>
                    <app-category-list [show_type_links]="true"></app-category-list>
                </app-card>
            </div>
        </div>
    </div>
</main>
