<app-navbar></app-navbar>

<main class="profile_content">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-lg-3">
                <app-card [is_sticky]="true">
                    <div class="profile monty">
                        <div class="profile_img">
                            <img [src]="'/assets/images/profile/' + user?.profile_picture" alt="Profile Picture">
                        </div>
                        <h4 class="profile_name oswald">Jared Becker</h4>
                        <a
                            routerLink="/profile/edit"
                            class="btn btn-primary btn-sm text-white rounded-pill"
                        >
                            Edit Profile
                            <i class="fa-solid fa-pencil ms-2"></i>
                        </a>
                        <ul class="profile_stats mt-3">
                            <li class="profile_stats_item">
                                <a
                                    routerLink="/profile/completed"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"
                                    class="profile_stats_item_link"
                                >
                                    <span>Completed</span>
                                    <span>{{ completed }}</span>
                                </a>
                            </li>
                            <li class="profile_stats_item">
                                <a
                                    routerLink="/profile/on-hold"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"
                                    class="profile_stats_item_link"
                                >
                                    <span>On Hold</span>
                                    <span>{{ on_hold }}</span>
                                </a>
                            </li>
                            <li class="profile_stats_item">
                                <a
                                    routerLink="/profile/want-to-watch"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"
                                    class="profile_stats_item_link"
                                >
                                    <span>Want to watch</span>
                                    <span>{{ want_to_watch }}</span>
                                </a>
                            </li>
                            <li class="profile_stats_item">
                                <a
                                    routerLink="/profile/currently-watching"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"
                                    class="profile_stats_item_link"
                                >
                                    <span>Currently Watching</span>
                                    <span>{{ currently_watching }}</span>
                                </a>
                            </li>
                            <li class="profile_stats_item">
                                <a
                                    routerLink="/profile/must-watch"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"
                                    class="profile_stats_item_link"
                                >
                                    <span>Must Watch</span>
                                    <span>{{ must_watch }}</span>
                                </a>
                            </li>
                            <li class="profile_stats_item">
                                <a
                                    routerLink="/profile/favorite-characters"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"
                                    class="profile_stats_item_link"
                                >
                                    <span>Favorite Characters</span>
                                    <span>{{ favorite_characters }}</span>
                                </a>
                            </li>
                            <li class="profile_stats_item">
                                <a
                                    routerLink="/profile/friend-list"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"
                                    class="profile_stats_item_link"
                                >
                                    <span>Friend List</span>
                                    <span>{{ friend_list }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </app-card>
            </div>
            <div class="col-12 col-lg-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>

<app-footer />
