<app-navbar></app-navbar>

<main class="profile_content">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-lg-3">
                <app-card [is_sticky]="true">
                    <div class="profile monty">
                        <div class="profile_img" *ngIf="user">
                            <img [src]="'/assets/images/profile/' + user.profile_picture" alt="Profile Picture">
                        </div>
                        <h4 *ngIf="user" class="profile_name oswald">{{ user.username }}</h4>
                        <ng-container *ngIf="viewing_profile; else edit_profile">
                            <button
                                type="button"
                                (click)="addFriend()"
                                class="btn btn-primary btn-sm text-white rounded-pill"
                                [disabled]="adding_friend"
                            >
                                <ng-container *ngIf="!adding_friend; else loader">
                                    Add Friend
                                    <i class="fa-solid fa-user-plus ms-2"></i>
                                </ng-container>
                                <ng-template #loader>
                                    <div class="spinner-border text-white btn-loader" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </ng-template>
                            </button>
                        </ng-container>
                        <ng-template #edit_profile>
                            <a
                                routerLink="/profile/edit"
                                class="btn btn-primary btn-sm text-white rounded-pill"
                            >
                                Edit Profile
                                <i class="fa-solid fa-pencil ms-2"></i>
                            </a>
                        </ng-template>
                        <ng-container *ngIf="viewing_profile; else profile_menu">
                            <ul class="profile_stats mt-3">
                                <li class="profile_stats_item">
                                    <a
                                        [routerLink]="['/profile/view', username, 'completed']"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Completed</span>
                                        <span>{{ completed }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        [routerLink]="['/profile/view', username, 'on-hold']"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>On Hold</span>
                                        <span>{{ on_hold }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        [routerLink]="['/profile/view', username, 'want-to-watch']"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Want to watch</span>
                                        <span>{{ want_to_watch }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        [routerLink]="['/profile/view', username, 'currently-watching']"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Currently Watching</span>
                                        <span>{{ currently_watching }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        [routerLink]="['/profile/view', username, 'must-watch']"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Must Watch</span>
                                        <span>{{ must_watch }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        [routerLink]="['/profile/view', username, 'favorite-characters']"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Favorite Characters</span>
                                        <span>{{ favorite_characters }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        [routerLink]="['/profile/view', username, 'friend-list']"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Friend List</span>
                                        <span>{{ friend_list }}</span>
                                    </a>
                                </li>
                            </ul>
                        </ng-container>

                        <ng-template #profile_menu>
                            <ul class="profile_stats mt-3">
                                <li class="profile_stats_item">
                                    <a
                                        routerLink="/profile/completed"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Completed</span>
                                        <span>{{ completed }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        routerLink="/profile/on-hold"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>On Hold</span>
                                        <span>{{ on_hold }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        routerLink="/profile/want-to-watch"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Want to watch</span>
                                        <span>{{ want_to_watch }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        routerLink="/profile/currently-watching"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Currently Watching</span>
                                        <span>{{ currently_watching }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        routerLink="/profile/must-watch"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Must Watch</span>
                                        <span>{{ must_watch }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        routerLink="/profile/favorite-characters"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Favorite Characters</span>
                                        <span>{{ favorite_characters }}</span>
                                    </a>
                                </li>
                                <li class="profile_stats_item">
                                    <a
                                        routerLink="/profile/friend-list"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        class="profile_stats_item_link"
                                    >
                                        <span>Friend List</span>
                                        <span>{{ friend_list }}</span>
                                    </a>
                                </li>
                            </ul>
                        </ng-template>
                    </div>
                </app-card>
            </div>
            <div class="col-12 col-lg-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>

<app-footer />
