<footer class="w-100 p-3 bg-secondary text-white monty">
    <div class="text-center">
        <a href="https://github.com/JaredBecker/Animeee" class="text-white text-decoration-none" target="_blank">
            Project Repo
            <i class="fa-brands fa-github ms-2"></i>
        </a>
    </div>
    <div class="text-center">
        Made with <i class="fa-solid fa-heart text-primary"></i> by some guy named <a href="https://github.com/JaredBecker" class="text-primary text-decoration-none fw-bold" target="_blank">Jared</a>
    </div>
</footer>
