<footer class="w-100 p-3 bg-secondary text-white monty mt-5">
    <div class="d-flex justify-content-center align-items-center gap-2">
        <a href="https://github.com/JaredBecker/Animeee" class="text-white text-decoration-none" target="_blank">
            <i class="fa-brands fa-github ms-2"></i>
        </a>
        <a href="https://buymeacoffee.com/jaredbecker" target="_blank">
            <img src="/assets/images/bmc-logo.svg" alt="Buy me a coffee link" [style]="{'max-width': '15px'}" />
        </a>
    </div>
    <div id="jared" class="text-center">
        Made with <i class="fa-solid fa-heart text-primary"></i> by some guy named <a href="https://github.com/JaredBecker" class="text-primary text-decoration-none fw-bold" target="_blank">Jared</a>
    </div>
</footer>
