<div class="episode_modal monty p-3">
    <div class="episode_modal_header" *ngIf="episode.attributes.thumbnail">
        <div class="episode_modal_header_img">
            <div [ngClass]="{'d-none': !loading_image}" class="placeholder-glow w-100" style="height: 250px;">
                <div class="placeholder h-100 wi-100 rounded"></div>
            </div>
            <!-- TODO: change this back to medium check. Did this to flex to the homies -->
            <img
                [src]="episode.attributes.thumbnail.original ? episode.attributes.thumbnail.original : episode.attributes.thumbnail.original"
                [alt]="episode.attributes.canonicalTitle"
                class="ratio ratio-16x9"
                (load)="onLoad()"
            />
            <span *ngIf="episode.attributes.length" class="badge episode_length">
                <i class="fa-regular fa-clock"></i>
                {{ episode.attributes.length + ' min' }}
            </span>
        </div>
        <h2 class="oswald d-flex flex-column">
            {{ episode.attributes.canonicalTitle }}
            <span *ngIf="episode.attributes.titles.ja_jp">
                {{ episode.attributes.titles.ja_jp }}
            </span>
        </h2>
    </div>
    <div class="episode_modal_body">
        <ul class="list-unstyled episode_details">
            <li class="episode_details_item" *ngIf="episode.attributes.seasonNumber">
                <span class="oswald episode_details_item_title">Season</span>
                <span class="episode_details_item_value">{{ episode.attributes.seasonNumber }}</span>
            </li>
            <li class="episode_details_item" *ngIf="episode.attributes.airdate">
                <span class="oswald episode_details_item_title">Aired On:</span>
                <span class="episode_details_item_value">{{ episode.attributes.airdate }}</span>
            </li>
        </ul>
        <ng-container *ngIf="description">
            <h6 class="fw-bold oswald">Description</h6>
            <p
                class="episode_modal_body_desc"
                [innerHTML]="description"
                appTopShadow
                [height]="250"
            ></p>
        </ng-container>
    </div>
</div>
