/* You can add global styles to this file, and also import other style files */

$primary: #ec2367;
$secondary: #341845;
$info: #6600a4;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './scss/';

:root {
    --box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

main {
    padding-top: 75px;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.monty {
    font-family: 'Montserrat', sans-serif;
}

.text_gradient {
    font-weight: 700;
    background: radial-gradient(circle, rgba(52, 24, 69, 1) 15%, rgba(236, 35, 103, 1) 85%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.google_btn {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 20px;
        height: 20px;
        margin-right: 0.75rem;
    }

    &:hover {
        border: 1px solid #ccc;
    }
}

.dropdown-menu {
    padding: 0.5rem;
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow);

    .dropdown-item {
        border-radius: 0.5rem;

        &:hover {
            background-color: $primary;
            color: #fff;
        }
    }
}


.modal-content {
    border-radius: 1rem;
    border: 10px ridge $primary;
    box-shadow: var(--box-shadow);
}

.custom_backdrop {
    background-color: rgba($secondary, 0.85);
}


// This needs some work. Look at a later stage (Pfft like that will happen (⊙_⊙;) )
.gradient_border {
    --borderWidth: 10px;
    // background: #1D1F20;
    // background-color: transparent;
    background-color: rgba(#fff, 0.3);
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient_border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    // border-radius: calc(2 * var(--borderWidth));
    border-radius: 50%;
    z-index: -1;
    animation: animated_gradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animated_gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
