.anime_card {
    transition: all 0.3s ease-in-out;
    position: relative;
    opacity: 1;

    &:hover {
        cursor: pointer;

        img, .anime_card_title {
            opacity: 0;
            transform: rotateY(180deg);
        }

        .anime_card_description {
            opacity: 1;
            transform: rotateY(0);
        }
    }

    img {
        max-width: 100%;
        margin-right: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;
    }

    &_description {
        background-color: $secondary;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: #fff;
        transform: rotateY(-180deg);
        display: flex;
        flex-direction: column;

        h6 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1.25rem;
        }

        .desc {
            margin-top: 0.75rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            font-size: 0.8rem;
            -webkit-box-orient: vertical;

            @include media-breakpoint-up(lg) {
                -webkit-line-clamp: 7;
            }

            @include media-breakpoint-up(xl) {
                -webkit-line-clamp: 9;
            }
        }
    }

    &_title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        line-height: 20px;
        font-weight: bold;
        padding: 0.5rem;
        background: linear-gradient(to bottom, transparent 0%, $secondary 20%);
        color: #fff;
        border-radius: 0 0 0.5rem 0.5rem;
        transition: all 0.3s ease-in-out;
        position: absolute;
        bottom: -8px;
        width: 100%;
    }
}

// Tons of media queries to make sure loader card is always the same size as the cards that will replace them
.anime_card_placeholder {
    height: 233px;

    @media (min-width: 400px) {
        height: 256px;
    }

    @media (min-width: 450px) {
        height: 292px;
    }

    @media (min-width: 500px) {
        height: 327px;
    }

    @media (min-width: 550px) {
        height: 363px;
    }

    @media (min-width: 600px) {
        height: 230px;
    }

    @media (min-width: 800px) {
        height: 315px;
    }

    @media (min-width: 1200px) {
        height: 280px;
    }

    @media (min-width: 1400px) {
        height: 327px;
    }
}
