.anime_card {
    transition: all 0.3s ease-in-out;
    position: relative;

    &:hover {
        cursor: pointer;

        img {
            transform: rotateY(180deg);
        }

        .anime_card_description {
            opacity: 1;
            transform: rotateY(0);
        }
    }

    img {
        max-width: 100%;
        margin-right: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;
    }

    &_description {
        background-color: $secondary;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: #fff;
        transform: rotateY(-180deg);
        display: flex;
        flex-direction: column;

        h6 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1.25rem;
        }

        .desc {
            margin-top: 0.75rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            font-size: 0.8rem;
            -webkit-box-orient: vertical;

            @include media-breakpoint-up(lg) {
                -webkit-line-clamp: 7;
            }

            @include media-breakpoint-up(xl) {
                -webkit-line-clamp: 9;
            }
        }
    }
}
