.category_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    &_item {
        width: 50%;

        @include media-breakpoint-up(sm) {
            width: 33%
        }

        @include media-breakpoint-up(md) {
            width: 25%
        }

        @include media-breakpoint-up(xl) {
            width: 50%
        }
    }

    &_link {
        color: $secondary;
        text-decoration: none;
        font-size: 0.8rem;
        display: flex;
        width: 100%;
        height: 100%;

        &:hover {
            color: $primary;
        }
    }
}
