#intro_section {
    background-image: linear-gradient(rgba(52, 24, 69, 1), rgba(52, 24, 69, 0.3)), url('/assets/images/intro_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;

    padding: {
        top: 1rem;
        left: 1rem;
        right: 1rem;
    };

    .intro_img {
        max-width: 250px;
    }

    .content {
        padding: 1rem;
        background-color: rgba(#fff, 0.8);
        border-radius: 1rem;
    }
}
